<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="cn.abel.dao.NewsDao">
    <resultMap id="newsMap" type="cn.abel.bean.News">
		<id property="id" column="id"/>
		<result property="title" column="title"/>
		<result property="content" column="content"/>
		<result property="imagePath" column="image_path"/>
		<result property="readSum" column="read_sum"/>

    </resultMap>
    
    <sql id="queryCondition">
        <where>
			<if test="id != null and id != ''">
				and id = #{id}
			</if>
			<if test="title != null and title != ''">
				and title = #{title}
			</if>
			<if test="content != null and content != ''">
				and content = #{content}
			</if>
			<if test="imagePath != null and imagePath != ''">
				and image_path = #{imagePath}
			</if>
			<if test="readSum != null and readSum != ''">
				and read_sum = #{readSum}
			</if>

        </where>
    </sql>
    	
    <select id="getByMap" parameterType="map" resultMap="newsMap">
    	SELECT * FROM news
		<include refid="queryCondition" />
    </select>
    
    <select id="getById" parameterType="int" resultMap="newsMap">
    	SELECT * FROM news WHERE id =#{id}
    </select>
    
    <insert id="create" parameterType="cn.abel.bean.News">
        <selectKey resultType="int"  order="AFTER" keyProperty="id" >
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO news(
			id,
			title,
			content,
			image_path,
			read_sum
		)VALUES(
			#{id},
			#{title},
			#{content},
			#{imagePath},
			#{readSum}
		)
    </insert>
    
    <update id="update" parameterType="cn.abel.bean.News">
		UPDATE news SET
			title = #{title},
			content = #{content},
			image_path = #{imagePath},
			read_sum = #{readSum}
		WHERE id = #{id}
    </update>
    
    <delete id="delete" parameterType="int">
    	DELETE FROM news WHERE id = #{id}
    </delete>
    
</mapper>